name: Run tests

on: [pull_request]

jobs:
  build-windows:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update PowerShell from LTS
      shell: pwsh
      run: |
        Invoke-Expression "& { $(irm https://aka.ms/install-powershell.ps1) } -UseMSI"
    - name: Setup assets cache
      id: assetscache
      uses: actions/cache@v2
      with:
        path: |
          Source/Assets
          Source/BicepNet.PS
        key: ${{ hashFiles('scripts\downloadDependencies.ps1') }}
    - name: Download required assemblies
      if: steps.assetscache.outputs.cache-hit != 'true'
      shell: pwsh
      run: ./scripts/downloadDependencies.ps1
    - name: Import required modules
      run: Install-Module -Name Pester -Force
      shell: pwsh
    - name: Run tests
      run: .\Tests\TestRunner.ps1 -TestResults -Verbosity Normal
      shell: pwsh
    - name: Publish test results
      uses: EnricoMi/publish-unit-test-result-action/composite@v1
      continue-on-error: true
      with:
        files: testResults.xml

  build-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update PowerShell from LTS
      shell: pwsh
      run: |
        # Most of the code is from https://aka.ms/install-powershell.ps1 but adapted for GITHUB_PATH
        $Destination = "~/.powershell"
        if (-not (Test-Path -Path $Destination)) { New-Item -ItemType Directory -Path $Destination }

        Invoke-Expression "& { $(irm https://aka.ms/install-powershell.ps1) } -Destination $Destination"
        $TargetPath = Join-Path -Path $Destination -ChildPath "pwsh"
        $Symlink = "/usr/bin/pwsh"

        $Uid = id -u
        if ($Uid -ne "0") { $SUDO = "sudo" } else { $SUDO = "" }
        # Make symbolic link point to installed path
        & $SUDO ln -fs $TargetPath $Symlink

        if ($LASTEXITCODE -ne 0) { throw "Could not add to GITHUB_PATH: failed to make '$Symlink' point to '$TargetPath'." }
    - name: Setup assets cache
      id: assetscache
      uses: actions/cache@v2
      with:
        path: |
          Source/Assets
          Source/BicepNet.PS
        key: ${{ hashFiles('scripts/downloadDependencies.ps1') }}
    - name: Download required assemblies
      if: steps.assetscache.outputs.cache-hit != 'true'
      shell: pwsh
      run: ./scripts/downloadDependencies.ps1
    - name: Import required modules
      run: Install-Module -Name Pester -Force
      shell: pwsh
    - name: Run tests
      run: ./Tests/TestRunner.ps1 -TestResults -Verbosity Normal
      shell: pwsh
    - name: Publish test results
      uses: EnricoMi/publish-unit-test-result-action/composite@v1
      continue-on-error: true
      with:
        files: testResults.xml
